.custom-panel {
	border-color: #A7093E;}
.custom-thumbnail {
	background-color: #EC2438;
	border: 0px solid #EC2438 !important;}
.panel-primary > .custom-heading {
	color: #FFB027;
	background-color: #650213;
	border-color: #A7093E;}
.custom-body {
	background-color: #840A12;
	color: #EAD72D;}
.custom-footer {
	color: #B1A714;
	background-color: #81060A;	border-top: 1px solid #A7093E !important;}